/*jQuery table row dragging maintain width*/
.ui-sortable-helper {
    display: table;
}
/* Toggle icon visibility on hover */
tr:hover i.row-ops {
    display: block !important;
}
.border-3 {
    border-width:2px !important;
}
.results {
    margin: 0 !important;
}
td button {
    height: 100% !important;
}
.text-large {
    font-size: 100%;
}
#input-layers > thead > tr > th { border-bottom: none; }
#history > tbody > tr .text-danger:hover {
    font-weight: bold;
    cursor: pointer;
}
input:disabled.form-control-plaintext:focus {
        outline: none;
}
.cavity {
    background-color: #f2fcff;
}
div.constrain {
    height: 250px;
    overflow: auto;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f5fbfc;
}
